


@font-face {
    font-family: 'light-font';
    src: url('../fonts/gilroy/Gilroy-Light.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  
  
  @font-face {
    font-family: 'head-font';
    src: url('../fonts/gilroy/Gilroy-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'head-font2';
    src: url('../fonts/gilroy/Gilroy-Bold.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'head-font3';
    src: url('../fonts/gilroy/Gilroy-Heavy.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  .fontfamily-extra-bold{
    font-family: head-font;
  }
  
  .fontfamily-bold{
  font-family: head-font2;
  }
  
  .fontfamily-heavy{
  font-family: head-font3;
  }
  
  .fontfamily-light{
  font-family: light-font;
  }
  
  
  
  .service-section,
  .service-section::before,
  .service-section::after {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .ball-main {
    /* background-color: #000000; */
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
    overflow: hidden;
    width: 50%;
    height: 100vh;
  }
  
  .fall {
    position: relative;
    transform-style: preserve-3d;
    animation: fallRotate 42s infinite linear;
  }
  
  @keyframes fallRotate {
    to {
      transform: rotateY(360deg);
    }
  }
  
  .walls {
    transform-style: preserve-3d;
  }
  
  .wall {
    position: absolute;
    width: 80px;
    height: 80px;
    transform-style: preserve-3d;
    background-image: linear-gradient(#0007, #000c);
    animation: move 15s infinite linear;
  }
  
  .wall:nth-child(odd) {
    left: -10px;
    transform: translate(-50%, 50%) rotateY(90deg) rotateX(45deg)
      translatez(-20px) translateY(-220px);
  }
  
  .wall:nth-child(even) {
    left: 10px;
    transform: translate(-50%, 50%) rotateY(-90deg) rotateX(45deg)
      translatez(-20px) translateY(-220px);
  }
  
  .wall:nth-child(1) {
    animation-delay: -1.5s;
    background-color: hsla(0, 75%, 75%, 1);
  }
  
  .wall:nth-child(2) {
    animation-delay: -3s;
    background-color: hsla(36, 75%, 75%, 1);
  }
  
  .wall:nth-child(3) {
    animation-delay: -4.5s;
    background-color: hsla(72, 75%, 75%, 1);
  }
  
  .wall:nth-child(4) {
    animation-delay: -6s;
    background-color: hsla(108, 75%, 75%, 1);
  }
  
  .wall:nth-child(5) {
    animation-delay: -7.5s;
    background-color: hsla(144, 75%, 75%, 1);
  }
  
  .wall:nth-child(6) {
    animation-delay: -9s;
    background-color: hsla(180, 75%, 75%, 1);
  }
  
  .wall:nth-child(7) {
    animation-delay: -10.5s;
    background-color: hsla(216, 75%, 75%, 1);
  }
  
  .wall:nth-child(8) {
    animation-delay: -12s;
    background-color: hsla(252, 75%, 75%, 1);
  }
  
  .wall:nth-child(9) {
    animation-delay: -13.5s;
    background-color: hsla(288, 75%, 75%, 1);
  }
  
  .wall:nth-child(10) {
    animation-delay: -15s;
    background-color: hsla(324, 75%, 75%, 1);
  }
  
  .wall > div {
    position: absolute;
    background-color: inherit;
  }
  
  .wall .ceil {
    width: 80px;
    height: 80px;
    background-image: linear-gradient(#fff7, #fff0);
    animation: wallCeil 15s infinite linear;
    animation-delay: inherit;
    overflow: hidden;
  }
  
  .wall .ceil::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#000, #0000 50%);
    animation: shadow 15s infinite linear;
    animation-delay: inherit;
  }
  
  @keyframes shadow {
    0%,
    48%,
    53%,
    100% {
      opacity: 0;
      transform: translateY(80px) scale(2);
    }
    50% {
      opacity: 0.25;
      transform: translateY(4px) scale(0.5);
    }
  }
  
  .wall .top {
    width: 80px;
    transform: rotateX(90deg);
    transform-origin: top;
    background-image: linear-gradient(#0007, #fff7);
    animation: wallHeight 15s infinite linear;
    animation-delay: inherit;
  }
  
  .wall .bottom {
    bottom: 0;
    width: 80px;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    background-image: linear-gradient(#fff0, #000c);
    animation: wallHeight 15s infinite linear;
    animation-delay: inherit;
  }
  
  .wall .left {
    bottom: 0;
    height: 80px;
    transform: rotateY(-90deg);
    transform-origin: left;
    background-image: linear-gradient(to bottom left, #fff3, #000c);
    animation: wallWidth 15s infinite linear;
    animation-delay: inherit;
  }
  
  .wall .right {
    bottom: 0;
    right: 0;
    height: 80px;
    transform: rotateY(90deg);
    transform-origin: right;
    background-image: linear-gradient(to bottom right, #fff3, #000c);
    animation: wallWidth 15s infinite linear;
    animation-delay: inherit;
  }
  
  @keyframes move {
    from {
      bottom: -1210px;
    }
    to {
      bottom: 810px;
    }
  }
  
  @keyframes wallCeil {
    0%,
    49.75%,
    55%,
    100% {
      transform: translateZ(20px);
    }
    50% {
      transform: translateZ(10px);
    }
  }
  
  @keyframes wallHeight {
    0%,
    49.75%,
    55%,
    100% {
      height: 20px;
    }
    50% {
      height: 10px;
    }
  }
  
  @keyframes wallWidth {
    0%,
    49.75%,
    55%,
    100% {
      width: 20px;
    }
    50% {
      width: 10px;
    }
  }
  
  .ballArm {
    position: absolute;
    bottom: -210px;
    width: 20px;
    height: 240px;
    transform-origin: bottom;
    transform-style: preserve-3d;
    animation: armRotate 1.5s infinite linear alternate;
  }
  
  @keyframes armRotate {
    from {
      transform: translateX(-50%) rotate(-45deg);
    }
    to {
      transform: translateX(-50%) rotate(45deg);
    }
  }
  
  .ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10%;
    transform-style: preserve-3d;
    animation: ballRotateZ 1.5s infinite linear alternate;
  }
  
  @keyframes ballRotateZ {
    from {
      transform: rotate(45deg);
    }
    to {
      transform: rotate(-45deg);
    }
  }
  
  .ball::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: radial-gradient(circle at top, #fff, #222);
    border-radius: 50%;
    animation: ballRotateY 42s infinite linear;
  }
  
  @keyframes ballRotateY {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
  
  .card-whyus {
    /* background-color: red; */
    height: 170px;
    width: 220px;
    border-radius: 30px;
    border: solid white;
  }
  .service-card {
    height: auto;
    position: absolute;
    /* display: flex; */
    justify-content: space-between;
    padding-inline: 100px;
    padding-top: 60px;
    width: 100%;
    /* background-color: green; */
  }
  .card-us {
    height: 100%;
    /* background: yellow; */
    /* background: #000000; */
    align-content: center;
    justify-items: center;
  }
  .service-box {
    /* height: 100vh; */
    height: auto;
    width: 100%;
  }
  .service-1 {
    /* background-color: black; */
    height: 80%;
    width: 88%;
    color: white;
    border-radius: 20px;
    align-content: center;
    /* border: 2px solid; */
    /* overflow-y: scroll; */
  }
  .title-1 {
    align-items: center;
  }
  .heading-1 {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 1rem;
    font-weight: 900;
    font-size: xx-large;
    color: #d5d1db;
    /* text-align: center; */
  }
  
  .content {
    margin-top: 15px;
    margin-right: 15px;
  }
  
  .para-1 {
    line-height: 1.6;
    color: #81858e;
    margin: 10px 0;
    padding: 0 15px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .para-1:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
    color: white;
  }
  
  /* project section animation */
  
  .rotating-animation,
  .rotating-animation::before,
  .rotating-animation::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .rotating-animation {
    /* position: fixed; */
    
    background-color: #01010100;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* position: fixed; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .scene {
    transform-style: preserve-3d;
    transform: rotateX(45deg) rotateY(45deg);
    transition: all 0.1s;
  }
  
  .rings {
    width: calc((20vh + 20vw) / 2);
    height: calc((20vh + 20vw) / 2);
    position: relative;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 8s 0.1s linear infinite;
    transition: all 0.1s;
  }
  .rings > div {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    border: 3px dashed #00a3ee;
    opacity: 0;
    animation: show 0.1s linear 1 forwards;
  }
  .rings > div:nth-child(1) {
    transform: rotateY(calc((360deg / 90) * 1));
    filter: hue-rotate(calc((360deg / 90) * 1));
    animation-delay: calc(2s / 90);
  }
  .rings > div:nth-child(2) {
    transform: rotateY(calc((360deg / 90) * 2));
    filter: hue-rotate(calc((360deg / 90) * 2));
    animation-delay: calc(6s / 90);
  }
  .rings > div:nth-child(3) {
    transform: rotateY(calc((360deg / 90) * 3));
    filter: hue-rotate(calc((360deg / 90) * 3));
    animation-delay: calc(10s / 90);
  }
  .rings > div:nth-child(4) {
    transform: rotateY(calc((360deg / 90) * 4));
    filter: hue-rotate(calc((360deg / 90) * 4));
    animation-delay: calc(14s / 90);
  }
  .rings > div:nth-child(5) {
    transform: rotateY(calc((360deg / 90) * 5));
    filter: hue-rotate(calc((360deg / 90) * 5));
    animation-delay: calc(18s / 90);
  }
  .rings > div:nth-child(6) {
    transform: rotateY(calc((360deg / 90) * 6));
    filter: hue-rotate(calc((360deg / 90) * 6));
    animation-delay: calc(20s / 90);
  }
  .rings > div:nth-child(7) {
    transform: rotateY(calc((360deg / 90) * 7));
    filter: hue-rotate(calc((360deg / 90) * 7));
    animation-delay: calc(24s / 90);
  }
  .rings > div:nth-child(8) {
    transform: rotateY(calc((360deg / 90) * 8));
    filter: hue-rotate(calc((360deg / 90) * 8));
    animation-delay: calc(30s / 90);
  }
  .rings > div:nth-child(9) {
    transform: rotateY(calc((360deg / 90) * 9));
    filter: hue-rotate(calc((360deg / 90) * 9));
    animation-delay: calc(32s / 90);
  }
  .rings > div:nth-child(10) {
    transform: rotateY(calc((360deg / 90) * 10));
    filter: hue-rotate(calc((360deg / 90) * 10));
    animation-delay: calc(38s / 90);
  }
  .rings > div:nth-child(11) {
    transform: rotateY(calc((360deg / 90) * 11));
    filter: hue-rotate(calc((360deg / 90) * 11));
    animation-delay: calc(40s / 90);
  }
  .rings > div:nth-child(12) {
    transform: rotateY(calc((360deg / 90) * 12));
    filter: hue-rotate(calc((360deg / 90) * 12));
    animation-delay: calc(44s / 90);
  }
  .rings > div:nth-child(13) {
    transform: rotateY(calc((360deg / 90) * 13));
    filter: hue-rotate(calc((360deg / 90) * 13));
    animation-delay: calc(50s / 90);
  }
  .rings > div:nth-child(14) {
    transform: rotateY(calc((360deg / 90) * 14));
    filter: hue-rotate(calc((360deg / 90) * 14));
    animation-delay: calc(54s / 90);
  }
  .rings > div:nth-child(15) {
    transform: rotateY(calc((360deg / 90) * 15));
    filter: hue-rotate(calc((360deg / 90) * 15));
    animation-delay: calc(58s / 90);
  }
  .rings > div:nth-child(16) {
    transform: rotateY(calc((360deg / 90) * 16));
    filter: hue-rotate(calc((360deg / 90) * 16));
    animation-delay: calc(60s / 90);
  }
  .rings > div:nth-child(17) {
    transform: rotateY(calc((360deg / 90) * 17));
    filter: hue-rotate(calc((360deg / 90) * 17));
    animation-delay: calc(64s / 90);
  }
  .rings > div:nth-child(18) {
    transform: rotateY(calc((360deg / 90) * 18));
    filter: hue-rotate(calc((360deg / 90) * 18));
    animation-delay: calc(70s / 90);
  }
  .rings > div:nth-child(19) {
    transform: rotateY(calc((360deg / 90) * 19));
    filter: hue-rotate(calc((360deg / 90) * 19));
    animation-delay: calc(74s / 90);
  }
  .rings > div:nth-child(20) {
    transform: rotateY(calc((360deg / 90) * 20));
    filter: hue-rotate(calc((360deg / 90) * 20));
    animation-delay: calc(80s / 90);
  }
  .rings > div:nth-child(21) {
    transform: rotateY(calc((360deg / 90) * 21));
    filter: hue-rotate(calc((360deg / 90) * 21));
    animation-delay: calc(84s / 90);
  }
  .rings > div:nth-child(22) {
    transform: rotateY(calc((360deg / 90) * 22));
    filter: hue-rotate(calc((360deg / 90) * 22));
    animation-delay: calc(88s / 90);
  }
  .rings > div:nth-child(23) {
    transform: rotateY(calc((360deg / 90) * 23));
    filter: hue-rotate(calc((360deg / 90) * 23));
    animation-delay: calc(92s / 90);
  }
  .rings > div:nth-child(24) {
    transform: rotateY(calc((360deg / 90) * 24));
    filter: hue-rotate(calc((360deg / 90) * 24));
    animation-delay: calc(96s / 90);
  }
  .rings > div:nth-child(25) {
    transform: rotateY(calc((360deg / 90) * 25));
    filter: hue-rotate(calc((360deg / 90) * 25));
    animation-delay: calc(100s / 90);
  }
  .rings > div:nth-child(26) {
    transform: rotateY(calc((360deg / 90) * 26));
    filter: hue-rotate(calc((360deg / 90) * 26));
    animation-delay: calc(104s / 90);
  }
  .rings > div:nth-child(27) {
    transform: rotateY(calc((360deg / 90) * 27));
    filter: hue-rotate(calc((360deg / 90) * 27));
    animation-delay: calc(108s / 90);
  }
  .rings > div:nth-child(28) {
    transform: rotateY(calc((360deg / 90) * 28));
    filter: hue-rotate(calc((360deg / 90) * 28));
    animation-delay: calc(112s / 90);
  }
  .rings > div:nth-child(29) {
    transform: rotateY(calc((360deg / 90) * 29));
    filter: hue-rotate(calc((360deg / 90) * 29));
    animation-delay: calc(116s / 90);
  }
  .rings > div:nth-child(30) {
    transform: rotateY(calc((360deg / 90) * 30));
    filter: hue-rotate(calc((360deg / 90) * 30));
    animation-delay: calc(120s / 90);
  }
  
  @keyframes show {
    100% {
      opacity: 1;
    }
  }
  @keyframes spin {
    100% {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }
  
  /* ball animation end */
  /* card section */
  /* Parent Container */
  .our-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh; /* Full viewport height */
    padding: 20px; /* Add some spacing */
    box-sizing: border-box;
    position: relative;
    
  }
  
  /* First Project - Top Left */
  .first-project {
    flex: 0 0 auto; /* Don't stretch */
    position: absolute;
    top: 20px;
    left: 20px;
    /* background-color: #f9fafb30;  */
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    /* background-image: linear-gradient(
      to bottom right,
      black,
      hsl(221.26deg 85.8% 17.82% / 97%),
      black
    ); */
    border: 1px solid #ffffff1f;
    background: rgb(255 255 255 / 7%);
    box-shadow: 5px 10px 0px #171e7f5c;
  }
  
  /* Centered Project */
  .rotating-animation {
    flex: 1 0 auto; /* Take available space */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0); /* Example styling */
    padding: 20px;
    width: 300px; /* Adjust size as needed */
    height: 300px; /* Example height */
    text-align: center;
    border-radius: 8px; /* Optional */
  }
  
  /* Second Project - Bottom Right */
  .second-project {
    flex: 0 0 auto; /* Don't stretch */
    position: absolute;
    bottom: 100px;
    right: 20px;
    /* background-color: #d4d4d4;  */
    padding: 20px;
    width: 30%;
    text-align: center;
    transition: background 2s ease-in;
  
    /* border-radius: 2px; */
    /* background-image: linear-gradient(
      to bottom right,
      black,
      hsl(131deg 56% 14% / 97%),
      black
    ); */
    border: 1px solid #ffffff1f;
    background: rgb(255 255 255 / 7%);
    box-shadow: 5px 10px 0px #0080164a;
  }
  
  .second-project:hover {
    box-shadow: 5px 10px 0px #0080164a;
  }
  .first-project:hover {
    box-shadow: 5px 10px 0px #171e7f5c;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .projects {
      height: auto; /* Adjust for smaller screens */
    }
    .first-project,
    .second-project {
      position: static;
      width: 100%;
      margin-bottom: 20px;
    }
    .rotating-animation {
      position: static;
      margin: 0 auto 20px auto;
      transform: none;
    }
  }
  
  .nme-img {
    height: 60%;
  }
  .buysel-img {
    height: 60%;
  }
  
  .project-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    /* border: 1px solid; */
    /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), */
    /* inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5); */
    background-color: -#181717;
    box-shadow: 2px 10px 17px #000000;
    /* background: #051d39; */
  }
  .project-btn:hover {
    transform: scale(1.05);
  }
  
  .prjct-btn {
    font-size: 16px;
    font-weight: bold;
    color: white;
  }
  
  
  
  
  /* future updation section */
  
  
  
  
   @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");
  
  .updates-cards {
      width: 100%;
      height: 100%;
      /* font-family: "Montserrat", sans-serif; */
  }
  
  .centered {
      align-items: center;
      justify-content: center;
      gap: 3rem;
      /* height: 100%; */
  }
  
  .card {
      position: relative;
      height: 28rem;
      width: 20rem;
      aspect-ratio: 5 / 7;
      perspective: 50rem;
      
      .shadow {
          position: absolute;
          inset: 0;
          background:
              var(--url);
          background-size: cover;
          background-position: center;
          opacity: 0.8;
          filter: blur(2rem) saturate(0.9);
          box-shadow: 0 -1.5rem 2rem -0.5rem rgba(0, 0, 0, 0.7);
          transform: rotateX(var(--rotateX)) rotateY(var(--rotateY))
                  translate3d(0, 2rem, -2rem);
      }
  
      .image {
          position: absolute;
          inset: 0;
          background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent 40%),
              var(--url);
          background-size: cover;
          background-position: center;
          mask-image: var(--url);
          mask-size: cover;
          mask-position: center;
  
          &.background {
              transform: rotateX(var(--rotateX)) rotateY(var(--rotateY))
                  translate3d(0, 0, 0rem);
          }
  
          &.cutout {
              transform: rotateX(var(--rotateX)) rotateY(var(--rotateY))
                  translate3d(0, 0, 4rem) scale(0.92);
              z-index: 3;
          }
      }
  
      .content {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          inset: 0;
          padding: 3.5rem;
  
          transform: rotateX(var(--rotateX)) rotateY(var(--rotateY))
              translate3d(0, 0, 6rem);
          z-index: 4;
      }
  
      &::after,
      &::before {
          content: "";
          position: absolute;
          inset: 1.5rem;
          transform: rotateX(var(--rotateX)) rotateY(var(--rotateY))
              translate3d(0, 0, 2rem);
      }
  
      &::before {
          z-index: 4;
      }
      
      &.border-left-behind::before {
          border-left: transparent;
      }
      
      
      &.border-right-behind::before {
          border-right: transparent;
      }
      
      &.border-bottom-behind::before {
          border-bottom: transparent;
      }
  }
  
  h2 {
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
      text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  }
  
  p {
      font-weight: 300;
      text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  } 
  
  
  /* our projects modal */
  
   .our-clients{
    align-items: center;
    background:black;
    height: 100vh;
    justify-content: center;
    background: url(../images/whyus.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(80, 0, 0, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
    gap: 32px;
  }
  .slider .slide {
    height: 100px;
    
  }
  
  .slide > img{
    object-fit: contain;
  }
  
  
  
  /* testimonial section */
  
  .testimonial-autoslider {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
  }
  
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
  }
  .slider::before, .slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  
  .slider .slide {
    height: 100px;
  }
  .slide-track{
    gap: 32px;
  }
  
  .poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  .explore-button:hover{
      animation: pulse 1s infinite ease-in-out alternate;
  
    }
    @keyframes pulse {
      from { transform: scale(0.8); }
      to { transform: scale(1.2); }
    }
  
  
    
  .orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  
  
  