@font-face {
    font-family: 'headingfont';
    src: url(../fonts/AbandoN.ttf);
  }
  
  p{
    font-family: "Poppins", serif !important;
    font-weight: 400;
    font-style: normal;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .elastic-spin {
      animation: elastic-spin 2s infinite ease;
    }
    @keyframes elastic-spin {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }
    
  
    .main{
      color: blue;
      position-area:center;
    }
  
  
    .logo-text{
      position: absolute;
      position-area: center;
      z-index: 1;
      width: 220px;
      margin-top: 54px;
      margin-left: 32px;
    }
  
    
  .fade-in-left {
    animation: fade-in-left 2s ease infinite;
  }
  @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  
  
  
  .spin {
    animation: spin 1s infinite linear;
  }
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  
  
  /* .navExpand{
    transition: all 1s;
  } */
  
  
  .nav-tabs{
    background-image: linear-gradient(to right,black, rgb(31, 31, 31) , black);
  
  }
  
  .nav-tabs >h1{
    text-align: center;
    height: 100%;
    align-content: center;
    font-size: larger;
    color: #ffffff99;
    /* font-family: nav-font; */
    font-family:" poppins",sans-serif;
  }
  
  .nav-tabs:hover{
    border-bottom: solid;
    border-top: solid;
    border-color: #2b2b2b;
    border-top-width: thin;
    border-bottom-width: thin;
  }
  
   .nav-tabs:hover >h1{
   color: white;
  }
  
  
  @font-face {
    font-family: 'nav-font';
    src: url('./assets/fonts/rimouski\ sb.otf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'about-font';
    src: url('./assets/fonts/gilroy/Gilroy-Light.ttf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'about-font-1';
    src: url('./assets/fonts/Bluerabbit-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  
  
  @font-face {
    font-family: 'about-title';
    src: url('./assets/fonts/gilroy/Gilroy-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'home-font2';
    src: url('./assets/fonts/gilroy/Gilroy-Bold.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'home-font';
    src: url('./assets/fonts/gilroy/Gilroy-Heavy.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  #colapse1,#colapse2,#colapse3{
    transition: all 1s;
  }
  
  
  .bghead{
    background: url(./assets/images/bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  
  .pipe-elements{
    transition: all 2s;
  }
  
  
  
  
  .about{
    background-color: black;
  
    
  }
  .ab-1{
    color: rgb(185, 183, 183);
    align-items: center;
    text-align: center;
    /* font-size: 20px;
    letter-spacing: 15px; */
    font-family: about-font;
  
  }
  .slider-2 {
    transition: all 1s;
    left: 0;
    right: 0;
    
  
  }
  
  
  
  
  
  .scrollable-div {
    width: 100%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
  }
  
  .scrollable-div::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }
  
  
  
  
  
  .bounce-in-right {
    animation: bounce-in-right 2s ease normal;
  }
  @keyframes bounce-in-right {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    60% {
      opacity: 1;
      transform: translateY(-0px);
    }
    
    100% { transform: translateX(0); }
  }
  
  
  .swift-up-text{
    font-size: 110px;
    color: rgb(107, 107, 107);
    /* font-weight: bold; */
    font-family: about-title;
  }
  
  .swift-up-text-we{
    font-size: 110px;
    color: rgb(255, 255, 255);
    /* font-weight: bold; */
    font-family: about-title;
  }
  
  
  
  
  
  .main {
    position: relative;
    width: 100%;
  }
  
  
  
  
  
  
  .letter {
    /*   color: white; */
      font-family: about-title;
      position:absolute;
      position-area:center;
      /* transform: translate(-50%, -50%); */
      margin: 0;
    }
    
    .first {
      /* color: transparent; */
      color: white;
  
      /* -webkit-text-stroke: 2px #818181; */
    }
    
    .second {
      color: gray;
  
      /* -webkit-text-stroke: 2px gray; */
      animation: waves 4s ease-in-out infinite;
    }
    
    @keyframes waves {
     0%,
      100% {
        clip-path: polygon(
          0% 45%,
          16% 44%,
          33% 50%,
          54% 60%,
          70% 61%,
          84% 59%,
          100% 52%,
          100% 100%,
          0% 100%
        );
      }
    
      50% {
        clip-path: polygon(
          0% 60%,
          15% 65%,
          34% 66%,
          51% 62%,
          67% 50%,
          84% 45%,
          100% 46%,
          100% 100%,
          0% 100%
        );
      } 
    }
  
  
  
  
  
  
    
  .positivity {
  
    height: inherit;
    align-content: center;
    justify-self: center;
    width: 100%;
    justify-content: center;
    position: relative;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* min-width: 320px; */
    /* height: auto; */
    padding: 1rem;
    margin-top: 1rem;
    overflow: hidden;
    text-transform: uppercase;
    
    .positivity__alone {
      display: inline-block;
      /* font-size: 2rem; */
      font-family: home-font2;
      color: #818181;
    }
    
    .positivity__words {
      .change {
  
        display: inline-block; 
        position: absolute;
        /* top: 26%; */
        left: 0;
        right: 0;
        margin-inline: auto;
        opacity: 0;
        animation: changeword 10s linear infinite;
        font-family: home-font;
        /* font-size: 4rem; */
        font-weight: bolder;
        /* color: rgb(255, 255, 255); */
        color: rgb(255, 255, 255);
      }
      
      .change:nth-child(1) {
        animation-delay: 0s;
      }
      .change:nth-child(2) {
        animation-delay: 2s;
      }
      .change:nth-child(3) {
        animation-delay: 4s;
      }
      .change:nth-child(4) {
        animation-delay: 6s;
      }
      .change:nth-child(5) {
        animation-delay: 8s;
      }
      /* .change:nth-child(6) {
        animation-delay: 10s;
      } */
    }
  }
  
  @keyframes changeword {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    
    5% {
      opacity: 1;
      transform: translateY(0);
    }
    
    20% {
      opacity: 1;
      transform: translateY(0);
    }
    25% {
      opacity: 0;
      transform: translateY(30px);
    }
    
    30% {
      opacity: 0;
      transform: translateY(50px);
    }
    
    80% {
      opacity: 0;
      transform: translateY(50px);
    }
  }
  
  
  
  
  
  
  
  html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    /* transition:transform 1s ease; */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  
  }
  
  
  .each-section{
    height: 100vh;
    scroll-snap-align: center;
  }
  
  
  
  
  
  
  /* about page start */
  .top-head-about{
    /* margin-top: 20rem; */
    align-items: baseline;
    text-align: center;
    color: aliceblue;
    background: url(../images/Dizzying.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .about-head{
    font-size: 20rem;
      letter-spacing: 2px;
    margin-top: auto;
    right: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: 800;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Charm:wght@400;700&family=Italiana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quando&display=swap');
  .second-head{
    /* font-size: 7rem; */
    color: aliceblue;
    text-transform :uppercase;
    text-align: center;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 0.-11px;
    margin-top: 5rem;
  }
  
  .first-letter {
    font-weight: 800;
    display: inline-block;
    position: relative; /* Enables position-based animations */
    opacity: 1; /* Start fully visible */
    transition: transform 1s ease, opacity 1s ease; /* Smooth animations */
    font-size: 150px ;
    color: aliceblue;
    text-transform :uppercase;
    text-align: center;
    letter-spacing: 0.-11px;
  }
  
  .text-container {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    font-weight: bold; 
    color: #e9e9e9af;
    position: relative;
    height: 621px; /* Adjust based on font size */
    overflow: hidden;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    /* background-color: antiquewhite; */
    margin-top: -240px;
    /* background-image: url('assets/audios/download.gif');
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center; */
    margin-left: 5rem;
    margin-right: 5rem;
  }
  
  .text {
    position: absolute;
    opacity: 0;
    transform: translateY(100%); /* Start below the container */
    transition: opacity 1s ease, transform 1s ease;
  
  }
  
  .text.active {
    opacity: 1;
    transform: translateY(0); /* Move to center */
    z-index: 1;
  }
  
  .text.exit {
    opacity: 0;
    transform: translateY(-100%); /* Move above the container */
    z-index: 0;
  }
  
  
  
  
  
  /* domore section design */
  .domore .container{
    display: flex;
    margin: auto;
    align-items: center;
    margin-top: 4rem;
    /* margin-bottom: auto; */
    border-top: #818181 1px solid;
    border-bottom: #818181 1px solid;
  
  }
  
  #domoreid{
  
    /* background-image: url('../images/130+\ CSS\ Loaders.gif'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
  
  }
  
  
  .domore-content{
    display: flex;
    padding-top: 5rem;
    padding-bottom: 0rem;
  }
  .domore-head {
    width: 60%;
    margin-top: 8px;
    margin-bottom: 71px;
  }
  
  .domore-head h1{
    color: rgba(234, 239, 243, 0.87);
    font-size: 30px;
    font-weight: 800;
    /* letter-spacing: 2px; */
    /* line-height: 100px; */
  }
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Charm:wght@400;700&family=Italiana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quando&display=swap');
  .domore-head p{
    color: rgba(240, 248, 255, 0.788);
    font-size: 15px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 19px;
  }
  
  .domore-img video{
    width: 52vw;
    /* height: 59vh; */
    padding-left: 10rem; 
  
  }
  
  .domore-img1 video{
    display: none;
  }
  
  /* domore section design end*/
  
  
  /* service section start */
  
  /* .services{
    display: flex;
    margin: auto;
  }
  .services .container{
    display: flex;
    margin: auto;
  
  }
  
  .card{
    background: linear-gradient(to bottom, transparent 50%, #014fb469 100%);
    border-radius: 5px;
    width: 65rem;
    height: auto;
    margin-top:3rem;
    padding: 20px 25px;
    margin-left: 4rem;
    border: solid 1px white;
  }
  .card1{
    background: linear-gradient(to bottom, transparent 50%, #04f74d75 100%);
    border-radius: 5px;
    width: 65rem;
    height: auto;
    margin-top:3rem;
    padding: 20px 25px;
    margin-left: 4rem;
    border: solid 1px white;
  }
  .card2{
    background: linear-gradient(to bottom, transparent 50%, #b81e8975 100%);
    border-radius: 5px;
    width: 65rem;
    height: auto;
    margin-top:3rem;
    padding: 20px 25px;
    margin-left: 4rem;
    border: solid 1px white;
  }
  .card,.card1,.card2 h4{
    color: azure;
    font-size: 38px;
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
    padding: 85px 20px 0px;
  }
  .services-content{
    margin-top: 50px;
  }
  
  .services-content button{
    border: solid 1px white;
    color: azure;
    padding: 20px 30px;
    
  }
  .service-img{
    margin: auto;
    width: 50%;
    margin-top: 10rem;
    align-items: center;
  }
  .service-img img{
    width: 100%;
    height: auto;
  } */
  
  /* service section end */
  
  
  
  
  /* more about nme360 */
  
  .more-about{
    margin: auto;
    /* background: #920e0e; */
  }
  
  .more-about .container{
    margin: auto;
  }
  
  .moreabout-head{
    padding: 20px 350px;
  }
  
  .moreabout-head h1{
    color: aliceblue;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    /* text-align: center; */
  }
  
  .moreabout-para{
    padding: 40px 350px;
  }
  
  .moreabout-para{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    
  }
  
  .sample-p{
    color: rgb(56, 56, 56);
  }
  
  .BeforeScroll{
    /* opacity: 0.5; */
    color: #1c1c1c;
    /* opacity: 0.2;  */
    transition: opacity 0.3s ease-in-out;
  }
  
  
  #scrollTextContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 2rem;
    text-align: center;
  }
  
  .text-line {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  .text-line.active {
    opacity: 1;
    transform: translateY(0);
  }
  
  
  /* more about nme360 end*/
  
  
  .scrollable {
    width: 100%;
    height: 100vh;
    overflow: auto;
  }
  
  
  
  /* Hide scrollbar for Chrome, Edge, and Safari */
  .scrollable::-webkit-scrollbar {
    display: none;
  }
  
  html::-webkit-scrollbar {
    display: none;
  }
  
  html {
    scrollbar-width: none; /* Hide scrollbar */
    -ms-overflow-style: none; /* Hide scrollbar on IE */
  }
  
  /* Optional: For Firefox */
  .scrollable {
    scrollbar-width: none; /* Hide scrollbar */
    -ms-overflow-style: none; /* Hide scrollbar on IE */
  }
  
  
  /* feature section start */
  
  
  .feature-head{
    text-align: center;
    /* margin-top: 50px; */
  }
  
  .feature-head{
    color: aliceblue;
    font-size: 70px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .sec-letter{
    color: #4fc9ed;
    font-size: 70px;
    font-weight: 800;
  
  }
  
  .feature-4s{
    width: 100%;
    align-content:center;
    margin-top: 1rem;
    /* margin-bottom: 90px; */
    text-align: center;
  
  }
  
  .feature-4s p{
    color: #bcc5c5;
    font-size: 20px;
    /* padding: 0px 20rem; */
  }
  
  .four-span{
    font-size: 50px;
    /* color: #4fc8edb9; */
    font-weight: bolder;
    font-family:"headingfont";
  }
  
  .four-span1{
    font-size: 35px;
    color: #afd766;
    font-weight: 800;
    /* font-family:"headingfont"; */
  }
  
  .four-s{
    font-family: "headingfont" !important;
    font-size: 50px;
    color: #afd766;
  }
  
  .feature-container .card:hover .contentBx h2 span{
    color: #4fc9ed;
  
  }
  
  /* contact page style */
  
  
  .contact .footer{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 5rem;
  }
  
  
  
  
  
  /* contact page style end*/
  
  
  /* footer */
  
  .footer{
    width: 100%;
    height: 100vh;
    background: white;
    /* box-shadow: rgba(20, 20, 20, 0.925) 0px 100px 60px -12px inset, rgba(3, 3, 3, 0.753) 0px 18px 36px -18px inset; */
  }
  
  .footer .footer-sub {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .footer-address{
    align-items: baseline;
    text-align: justify;
    margin-left: 90px;
    /* background: #2b2b2b; */
    margin-top: 15rem;
  
  }
  
  .footer-address p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* font-size: 27px; */
    text-transform: capitalize;
    text-align: left;
  }
  
  .footer-sociallinks{
    align-items: baseline;
    text-align: justify;
    margin-left: 90px;
    /* background: #2b2b2b; */
    margin-top: 15rem;
  }
  
  .footer-sociallinks p{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 27px;
    text-transform: capitalize;
  }
  .footer-sociallinks i{
    display: none;
  }
  /* .facebook,.instagram,.linkedin{
    display: flex;
  } */
  .footer-sociallinks .facebook a:hover .arrow1{
    display: inline;
    padding: 5px 10px;
  }
  
  .footer-sociallinks .instagram a:hover .arrow2{
    display: inline;
    padding: 5px 10px;
  }
  
  .footer-sociallinks .linkedin a:hover .arrow3{
    display: inline;
    padding: 5px 10px;
  }
  
  .footer-sociallinks .facebook a:hover{
    padding: 0px 20px;
  }
  
  .footer-sociallinks .instagram a:hover{
    padding: 0px 20px;
  }
  
  .footer-sociallinks .linkedin a:hover{
    padding: 0px 20px;
  }
  
  
  .footer-email h4{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-transform: capitalize;
    margin-top: 90px;
    font-weight: 800;
  }
  
  /* footer section */
  .footer-newsletter{
    align-items: baseline;
    text-align: justify;
    /* margin-left: 90px; */
    margin-bottom: auto;
    /* background: #2b2b2b; */
    margin-top: 17rem;
    margin-right: 7rem;
  }
  
  .newsletter h1{
    /* font-family: "Poppins", sans-serif; */
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
    text-transform: capitalize;
    line-height: 54px;
  
    position: relative;
    display: inline-block;
    transition: all 0.3s ease-in-out;
  }
  
  .newsletter h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 6px;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
  }
  
  .newsletter h1:hover::after {
    width: 100%;
  }
  
  .newsletter-input{
    display: flex;
    border: 1px solid black;
    /* width: 80%; */
    border-radius: 20px;
    /* text-align: center; */
    padding: 20px 30px;
    margin-top: 25px;
    font-size: 25px;
    color: #181717;
    background: #ddd8d8;
  
  }
  .newsletter-input input{
    outline: none;
    cursor: pointer;
    background: #ddd8d8;
  
    
  }
  .newsletter-input i{
    float: right;
    align-items: center;
    margin: auto;
    padding-top: 10px;
    padding-right: 0;
    font-size: 65px;
  
  }
  
  .newsletter-input .fa{
    font-size: 25px;
  }
  
  /* footer copyright */
  
  .copyright{
    flex-direction: column; 
    text-align: center;
    margin-top: 180px;
  }
  .copy,.powerdby{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
  }
  
  
  
  
  /* feature section */
  
  
  @import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
  /* body{
      font-size: 17px;
      line-height: 30px;
      font-weight: 400;
      -moz-osx-font-smoothing: grayscale;
      word-break: break-word;
      -webkit-font-smoothing: antialiased;
    font-family: "Epilogue", sans-serif;
    margin: 0;
    background: #fff;
  } */
  * {
      box-sizing: border-box;
  }
  .creative-cards{
      padding: 98px 0;
      position: relative;
  }
  
  
  /* .creative-cards .container {
      max-width: 1320px;
      width: 100%;
      padding-right: .75rem;
      padding-left: .75rem;
      margin-right: auto;
      margin-left: auto;
  } */
  /* .creative-cards .container .row{
      display: flex;
      flex-wrap: wrap;
  } */
  .creative-cards .container .row .card-column {
      flex: 0 0 auto;
      width: 33.33333333%;
      text-align: center;
      max-width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-top: 0;
  }
  .card-details,.card-details1,.card-details2 {
      width: 100%;
      margin: auto;
      position: relative;
      transition: .3s ease-in-out;
  }
  .card-details:before {
      content: "";
      width: 190px;
      height: 380px;
      background: #f7f6f2;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) skew(-20deg, 0deg);
      z-index: -1;
      transition: .3s ease-in-out;
  }
  .card-details1:before {
    content: "";
    width: 190px;
    height: 380px;
    background: #f7f6f2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) skew(-20deg, 0deg);
    z-index: -1;
    transition: .3s ease-in-out;
  }
  .card-details2:before {
    content: "";
    width: 190px;
    height: 380px;
    background: #f7f6f2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) skew(-20deg, 0deg);
    z-index: -1;
    transition: .3s ease-in-out;
  }
  .card-details:hover:before{
      background-color: #17abd8;
      width: 100%;
      height: 100%;
    border-radius: 20px;
  
  
  }
  .card-details1:hover:before{
    background-color: #c5e38a;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  
  }
  .card-details2:hover:before{
    background-color: #fdc26d;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  
  
  }
  
  .card-icons {
      width: 140px;
      height: 150px;
      position: relative;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .card-icons:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid;
      width: 100%;
      height: 100%;
      transform: skew(-20deg, 0deg);
      background: #17abd8;
      border-color: #ffee02;
      transition: .3s ease-in-out;
  
  }
  .card-icons1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid;
    width: 100%;
    height: 100%;
    transform: skew(-20deg, 0deg);
    background: #c5e38a;
    border-color: #ffee02;
    transition: .3s ease-in-out;
  }
  .card-icons2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid;
    width: 100%;
    height: 100%;
    transform: skew(-20deg, 0deg);
    background: #fdc26d;
    border-color: #d4cdc2;
    transition: .3s ease-in-out;
  }
  
  /* .card-details:hover {
    background: #59e978;
  
  } */
  
  .card-details:hover .card-icons:before{
      background-color: #ffffff;
      border-radius: 20px;
      border-color: #050c01;
  
  
  }
  .card-details1:hover .card-icons:before{
    background-color: #ffffff;
    border-radius: 20px;
    border-color: #d0f309;
  
  
  }
  .card-details2:hover .card-icons:before{
    background-color: #ffffff;
    border-radius: 20px;
    border-color: #ec4a09;
  
  
  }
  .card-icons img{
      position: relative;
      width: 70px;
      height: 70px;
  }
  .card-icons img{
    position: relative;
    width: 70px;
    height: 70px;
  }
  .card-icons1 img{
      position: relative;
      width: 70px;
      height: 70px;
  }
  .card-icons2 img{
    position: relative;
    width: 70px;
    height: 70px;
  }
  .card-details h3{
      margin-bottom: 15px;
      margin-top: 50px;
      font-weight: 700;
      font-size: 1.75rem;
      line-height: 1.2;
  }
  .card-details1 h3{
    margin-bottom: 15px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1.2;
  }
  .card-details2 h3{
    margin-bottom: 15px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1.2;
  }
  .card-details h3 a{
    color: #000;
    text-decoration: none;
  }
  .card-details1 h3 a{
    color: #000;
    text-decoration: none;
  }
  .card-details2 h3 a{
    color: #000;
    text-decoration: none;
  }
  .card-details p{
      font-size: 20px;
    font-family: "Poppins", sans-serif;
      line-height: 30px;
      color: #4e4e4e;
      font-weight: 400;
      margin-bottom: 30px;
      padding-right: 30px;
  }
  .card-details1 p{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    line-height: 30px;
    color: #504e4e;
    font-weight: 400;
    margin-bottom: 30px;
    padding-right: 30px;
  }
  .card-details2 p{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    line-height: 30px;
    color: #575555;
    font-weight: 400;
    margin-bottom: 30px;
    padding-right: 30px;
  }
  .read-more-btn {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid;
      border-radius: 100%;
      margin: auto;
      background: #fff;
      transform: translateX(-10px);
      opacity: 0;
      visibility: hidden;
      border-color: #ffee02;
      transition: .3s ease-in-out;
      text-decoration: none;
  }
  .read-more-btn i{
      color: #000;
      font-size: 12px;
  }
  /* .card-details:hover .read-more-btn{
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
  } */
  
  /* ============= Responsive Ipad ==================== */
  @media (max-width: 992px) {
   .creative-cards .container .row .card-column {
      flex: 0 0 auto;
      width: 50%;
      margin-bottom: 40px;
  }
  }
  
  /* ============= Responsive Iphone ==================== */
  @media (max-width: 480px) {
   .creative-cards .container .row .card-column {
      flex: 0 0 auto;
      width: 100%;
      margin-bottom: 20px;
  }
  .card-details{
      width: 100%;
  }
  .read-more-btn{
          transform: translateX(0px);
      opacity: 1;
      visibility: visible;
  }
  }
  
  
  
  /* services page starts */
  
  @font-face{
    font-family: 'servicehead';
    src: url('../fonts/3\ Abraham\ Outline\ Demo.otf');
    font-weight: 400;
  }
  
  .services-head{
    font-size: 22rem;
      letter-spacing: 12px;
    margin-top: auto;
    right: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #e0f3f3;
    font-weight: 800;
    letter-spacing: 5px;
  }
  
  .top-head-services{
    height: 100vh;
    text-align: center;
    background-image: url('../images/For\ Your\ Processing1.gif');
    background-size: fill;
    background-repeat: no-repeat;
    background-position: top;
  
  }
  
  .services-description{
    display: flex;
    margin: auto;
    margin: auto;
    justify-content: center;
  }
  
  .services-cards{
    width: 50%;
    margin-top: 5rem;
    margin-left: 10rem;
    margin-right: auto;
    border-radius: 40px;
    /* border: 1px solid white; */
  
  }
  
  .services-card-content{
    height: 400px;
    width: auto;
    transition: all 0.4s ease; /* Smooth transition for all properties */
    /* border: 1px solid white; */
  
  }
  /* 
  .services-card-content img:hover{
    padding: 20px 20px;
    border-radius: 40px;
  
    transition: all 0.4s ease; 
  } */
  
  
  @property --a {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg; 
  }
  @property --i {
    syntax: "<number>";
    inherits: false;
    initial-value: 0; 
  }
  .services-card-content img {
      /* width: 100%;  */
      height: 100%; 
      object-fit: contain;
    width: 600px;
    aspect-ratio: 1;
    border-radius: 40px;
    padding: 10px; /* control the gap */
    mask: 
      conic-gradient(#000 0 0) content-box,
      linear-gradient(calc(mod(var(--a),180deg)*var(--i) + var(--_a,45deg)),
        #0000 30%,#000 40% 60%,#0000 70%) subtract,
      conic-gradient(#000 0 0) padding-box;
    transition: --i .5s,--a 0s .5s;
    cursor: pointer;
  }
  .services-card-content img.alt {
    --_a: -45deg;
  }
  .services-card-content img:hover {
    --i: 1;
    --a: 15turn; 
    transition: --i 0s,--a 30s linear;
    border: 5px solid #0536bd;
    border-radius: 40px;
  }
  
  .services-card-content img:hover {
    display: inline;
    color: #bcc5c5;
  }
  
  
  
  
  /* .services-card-content img {
  
    height: 100%; 
    border-radius: 40px !important;
    object-fit: contain;
    transition: all 0.4s ease; 
  } */
  
  /* .services-card-content{
    background: url(assets/images/pointer-pin-location-earth-global-world-with-cardboard-boxes-transportation-logistics-concept-pink-background-icon-symbol-3d-rendering.jpg);
    background-blend-mode: multiply;
    mask-image: url(assets/images/pointer-pin-location-earth-global-world-with-cardboard-boxes-transportation-logistics-concept-pink-background-icon-symbol-3d-rendering.jpg);
    mask-size: auto 100%;
    background-size: auto 100%;
  
  } */
  
  .services-card-content-para{
    width: 100%;
    padding-top: 10px;
    color: #fff;
    font-size: 50px;
    /* text-align:center; */
  }
  
  .services-card-content-para .fa{
    color: white;
  }
  
  .services-card-content-para button i {
    opacity: 0; /* Initially hidden */
    visibility: hidden; /* Prevents the element from being clickable */
    color: transparent;
    transition: opacity 0.5s ease-in, color 0.5s ease-in;
  }
  
  .services-card-content-para button:hover i {
    padding-left: 10px;
    opacity: 1; /* Makes it visible */
    visibility: visible; /* Allows interaction */
    color: #bcc5c5; /* Changes the color */
  }
  
  
  
  
  /* services page end */
  
  
  /* modal of service page starts*/
  
  #authOverlay{
    background-color: #050505e8  !important;
    display: flex;
    align-content: center;
    z-index: 1000;
  }
  
  /* #fourth{
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
    background: rgba(8, 8, 8, 0.3) !important;
    float: inline-start !important;
    margin-left: 29px;
    margin-top: 10rem;
    height: auto;
  
  } */
  
  #second{
    width: 50%;
    height: 500px;
    margin-left: 29px;
    margin-top: 15rem;
    background: none !important;
    display: flex;
  
  
  }
  
  .service-modal-img{
    width: 50%;
    margin-top: 10rem;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 28px;
  
  }
  .service-modal-img img{
    object-fit: contain;
    border-radius: 40px;
    background: #00000091;
    height: 500px;
    width: 100%;
  }
  
  .service-modal-img1{
    display: none;
  }
  /* .service-modal-head{
    font-size:25px;
  } */
  
  .service-modal-para p{
    font-size: 17px;
    color: #f5f3f3 !important;
    margin-top: 40px;
    font-family: "Poppins", sans-serif;
  }
  
  .service-modal-head h1{
    /* font-family: "Poppins", sans-serif; */
    font-size: 67px;
    font-weight: 800;
    color: #fff !important ;
    text-transform: capitalize;
    /* background-color: black; */
  
  }
  
  .back-btn{
    height: 80px;
  }
  .back-btn button{
    /* border: #3a3a3ad5 solid 2px; */
    background: #e7ebeb;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    padding: 20px 35px;
    border-radius: 40px;
    color: #000;
    text-transform: capitalize;
    cursor: pointer;
  }
  
  /* .back-btn button:focus{
    border: none;
    outline: 0 !important;
  .
  } */
  button:focus {
    outline: none; /* Removes the focus outline */
    border: none; /* Removes the button's border */
  }
  
  
  
  /* modal of service page  end*/
  
  
  
  
  
  
  /* services section2 starts */
  
  
  
  
  .services-section2 {
    position: relative;
    display: inline-block;
    padding: 50px; /* Adjust padding as needed */
    overflow: hidden;
    /* margin-top: 10rem;
    margin-bottom: 5rem; */
    /* margin-left: 10rem;
    margin-right: 10rem; */
  }
  
  .deserve-content::before,
  .deserve-content::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 2s ease;
    left: 50%;
  }
  
  .deserve-content::before {
    top: 100px; /* Border at the top */
    transform: translateX(-50%);
  }
  
  .deserve-content::after {
    bottom: 10px; /* Border at the bottom */
    transform: translateX(-50%);
  }
  
  .deserve-content:hover::before,
  .deserve-content:hover::after {
    width: 100%; /* Expands to full width */
  }
  
  
  
  
  
  .deserve-video{
  
    width: 100%;
    display: flex;
    margin: auto;
  }
  
  .deserve-video video{
    margin: auto;
    width: 520px;
    height: auto;
  }
  
  .deserve-head{
    width: 100%;
    margin: auto;
    align-items: center;
  
  }
  
  .deserve-head h1{
    color: aliceblue;
    font-size: 5.5rem;
    /* font-family: "Bebas Neue", sans-serif; */
    font-weight: 600;
    font-style: normal;
    line-height: 100px;
    text-align: center;
    text-transform: capitalize;
  }
  
  .deserve-head p{
    color: aliceblue;
    font-size: 1rem;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 10px 344px;
  }
  
  
  /* services section2 ends */
  
  
  
  
  
  
  
  /* service why we unique */
  
  
  /* .services-why-section{
    padding:0;
    margin:auto;
  } */
  
  .services-why{
    /* display: flex; */
    margin: auto;
    justify-content: center;
    height: 100%;
  }
  
  .services-why-description{
    margin-top: 20px;
    width: 50%;
    /* background: #64270f; */
  }
  
  
  
  .services-why-description h1{
    color: #bcc5c5;
    font-size: 5.5rem;
    /* font-family: "poppins",sans-serif; */
    padding: 20px 25px;
    text-transform: capitalize;
    font-weight: 800;
  
  }
  
  .services-why-description p{
    color: #bcc5c5;
    font-size: 18px;
    font-family: "poppins",sans-serif;
    padding: 20px 25px;
  }
  /* service why we unique  ends*/
  
  
  
  /* .targett{
    height: 60vh !important;
    width: 100%;
    transition: height 2s, width 2s;
    justify-self: center;
  } */
  
  
  .services-cardss{
    /* padding-top: 400px; */
    transition: margin-top 1s;
  }
  
  
  
  
  
  /* drawing line services page */
  
  
  svg.squiggle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200vh;
    z-index: -1;
  }
  
  svg.squiggle path{
    stroke: rgb(165, 228, 223);
    stroke-width: 0.5rem;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .container {
    width: 100% !important;
    padding: 0 !important;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
  
    @media screen and (min-width: 992px) and (max-width: 1439px) {
      max-width: 1279px !important;
      padding: 0 !important;
      margin: 0 80px !important;
      width: auto !important;
    }
  
    @media screen and (max-width: 991px) {
      max-width: 959px !important;
      margin: 0 16px !important;
      padding: 0 !important;
      width: auto !important;
    }
  }
  
  .gradient-cards {
    padding: 50px 0px;
  }
  
  
  .services-cardss .card{
    max-width: 680px;
    border: 0;
    width: 100%;
    margin-inline: auto;
    background-color: #000;
  }
  
  
  .card {
    max-width: 680px;
    border: 0;
    width: 100%;
    margin-inline: auto;
    background-color: #000;
  }
  
  .container-card {
    position: relative;
    border: 2px solid transparent;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    background-clip: padding-box;
    border-radius: 45px;
    padding: 40px;
    height: 100%;
    img {
      margin-bottom: 32px;
    }
  }
  
  .card:hover .container-card{
    border: 0.5px solid #5f6fad;
    box-shadow: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e) 0px 22px 70px 4px;
    /* box-shadow: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e); */
  }
  
  
  
  .bg-green-box,
  .bg-white-box,
  .bg-yellow-box,
  .bg-blue-box {
    position: relative;
  }
  
  .bg-green-box::after,
  .bg-white-box::after,
  .bg-yellow-box::after,
  .bg-blue-box::after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    z-index: -1;
    border-radius: 45px;
  }
  
  .bg-green-box::after {
    background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
  }
  
  .bg-white-box::after {
    background: linear-gradient(71deg, #121013, #b0afb0, #121013);
  }
  
  .bg-yellow-box::after {
    background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
  }
  
  .bg-blue-box::after {
    background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
  }
  
  .card-title {
    font-family: "Montserrat Alternates", sans-serif !important;
    font-weight: 600;
    color: white;
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: normal;
    font-size: 28px;
    padding-bottom: 8px;
    text-transform: capitalize;
  }
  
  .card-description {
    font-weight: 600;
    line-height: 32px;
    color: hsla(0, 0%, 100%, 0.815);
    font-size: 15px;
    /* max-width: 470px; */
  }
  
  .card-after-text{
    margin: auto;
    text-align: left;
    align-items: center;
    /* border: 1px solid white; */
  }
  
  .card-after-text h1{
    font-family: "poppins",sans-serif;
    font-size: 77px;
    padding-inline: 6rem;
    font-weight: 800;
   
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .feature-container{
    position: relative;
    display: flex;
  }
  
  .feature-container .card{
    position: relative;
    width: 320px;
    height: 450px;
    background: transparent;
    border-radius: 40px;
    overflow: hidden;
    border: 1px solid rgb(255 255 255 / 15%);
  }
  
  .feature-container .card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(79 201 237 / 20%);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
  }
  
  .feature-container .card:hover:before{
    clip-path: circle(300px at 80% -20%);
  }
  
  .feature-container .card:after{
    content: '360';
    position: absolute;
    top: 30%;
    left: -5%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(87, 173, 231, 0.11)
  }
  
  .feature-container .card .imgBx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 100%;
    height: 220px;
    transition: 0.5s;
  }
  
  .feature-container .card:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
  }
  
  .feature-container .card .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110px;
  }
  
  .feature-container .card .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 1;
  }
  
  .feature-container .card:hover .contentBx{
    height: 270px;
    /* margin-bottom: 100px; */
  }
  
  .feature-container .card .contentBx h2{
    position: relative;
    font-weight: 800;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
    font-size: 30px;
    text-transform: capitalize;
    /* margin-bottom: 20px !important; */
  }
  
  .container .card .contentBx .size, .feature-container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;opacity: 0;
    visibility: hidden;
    padding-top: 0;
  }
  
  .feature-container .card:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
  }
  
  .feature-container .card:hover .contentBx .color{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
  }
  
  .feature-container .card .contentBx .size h3, .feature-container .card .contentBx .color h3{
    font-family: "Poppins", serif;
      font-weight: 400;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .feature-container .card .contentBx .size span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .feature-container .card .contentBx .size span:hover{
    background: #9bdc28;
  }
  
  .feature-container .card .contentBx .color span{
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .feature-container .card .contentBx .color span:nth-child(2){
    background: #9bdc28;
  }
  
  .feature-container .card .contentBx .color span:nth-child(3){
    background: #03a9f4;
  }
  
  .feature-container .card .contentBx .color span:nth-child(4){
    background: #e91e63;
  }
  
  .feature-container .card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 0;
  }
  
  .feature-container .card:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
    
  }
  
  .services-why-image-hide{
    display: none;
  }
  
  
  
  
  
  
  
  
  
  
  /* mediaquery for all responsiveness */
  
  @media (max-width: 1300px) {
  
    /* #nav-expand{
      height: auto;
    } */
  
  
    .about-head{
      font-size: 17rem;
    }
  
    .second-head , .first-letter{
      font-size: 8rem !important;
    }
  
    .text-container{
      margin-top: -237px;
    }
  
    .domore {
      /* padding-top: 10rem !important; */
      display: flex;
      margin: auto;
      padding: auto;
      top: auto;
      bottom: auto;
      align-items: center;
      padding-top: 5rem  !important;
    }
  
    .domore-img video {
      margin-top: 5rem;
  }
  
    .domore-head h1 {
      font-size: 1.5rem;
      line-height: 37px;
  }
  
    /* .domore-img video {
      padding-left: 0;
      margin-top: 5rem;
      margin-left: 5rem;
  } */
  
  .domore-img img{
    width: 100px !important;
    height: 100px !important;
  }
  
  .lg\:grid-cols-4 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
  
  .moreabout-para , .moreabout-head{
    padding: 23px 207px;
  }
  
  .footer{
    height: auto;
    padding-bottom: 5rem;
  }
  
  .footer-address , .footer-sociallinks{
    text-align: left;
    margin-left: 58px;
    margin-top: 14rem;
  }
  
  .newsletter h1 {
    font-size: 27px;
    line-height: 38px;
  }
  
  .newsletter-input {
    padding: 11px 17px;
  }
  
  .newsletter-input {
    font-size: 18px;
  
  }
  
  .footer-newsletter {
  
    margin-left: 52px;
    margin-top: 18rem;
    margin-right: 4rem;
  }
  
  .copyright {
    margin-top: 152px;
  }
  
  
  .services-head {
    font-size: 19rem;
  }
  
  .deserve-head h1 {
    font-size: 5.5rem;
    line-height: 83px;
    text-align: center;
    margin-top: 2rem;
  }
  
  .deserve-head p {
    font-size: 1rem;
    text-align: center;
    padding: 20px 54px;
    /* margin-top: 5rem; */
  }
  
  .services-why {
    height: auto; 
  }
  
  .services-why-image{
    align-content: center;
  }
  
  .features {
    padding-top: 4.25rem  !important;
  }
  
  .feature-container{
    margin-top: -107px;
    margin-bottom: 5rem;
  }
  
  /* .card-after-text{
    margin: auto;
    text-align: left;
    align-items: center;
    border: 1px solid white;
  } */
  
  .card-after-text h1{
    font-size: 62px;
    font-weight: 800px !important;
    padding-inline: 1rem !important;
   
  }
  
  .deserve-content::before {
    top: 0; /* Border at the top */
    transform: translateX(-50%);
  }
  
  .deserve-content::after {
    bottom: 0; /* Border at the bottom */
    transform: translateX(-50%);
  }
  
  .deserve-video video {
    margin: auto;
    width: 417px;
    height: auto;
  }
  
  #second{
    margin-top: 9rem;
  }
  
  .top-head-services{
    background-position: center !important;
  }
  
  }
  
  @media (max-width: 1024px) {
  
    .about-head{
      font-size: 11rem;
    }
  
    .second-head{
      font-size: 5rem !important;
      margin-top: 2rem;
  
    }
    
    .first-letter{
      font-size: 5rem !important;
    }
  
    .text-container{
      font-size: 1.5rem !important;
    }
  
    .about {
      padding-top: 31vh  !important;
    }
  
    .features{
      padding-top: 7.25rem !important;
    }
  
  
  
    .domore-content {
      padding-top: 2rem;
  
  }
  
    .domore-head {
      width: 87%;
  }
  
    .domore-head h1{
      font-size: 20px;
      line-height: 32px;
    }
  
    .domore-head p{
      font-size: 15px;
  
    }
  
    .domore-img video{
      margin-left: 5rem;
      padding-left: 0;
      margin-top: 100px;
    
    }
  
  
  
    .more-about{
       padding-top: 7rem !important;
    }
  
  
  
    .moreabout-head , .moreabout-para{
      padding: 20px 176px;
    }
  
    .footer-address , .footer-sociallinks{
      margin-left: 50px;
      margin-top: 11rem;
    }
    .footer-address p , .footer-sociallinks p{
      font-size: 17px;
      text-align: left;
    }
  
    .newsletter h1{
      font-size: 25px;
      line-height: 41px;
    }
  
    .newsletter-input{
      width: auto;
      padding: 10px 15px;
      margin-right: 50px;
      font-size: 16px;
    }
  
    .footer-newsletter{
      margin-left: 71px;
      margin-top: 13rem;
    }
  
    /* .newsletter-input input{
      position: relative;
    }
  
    .newsletter-input i{
      position: absolute;
  
    } */
  
    .footer-email h4{
      font-size: 20px;
    }
  
    .footer-email h4{
      margin-top: 53px;
    }
  
    .copyright {
      flex-direction: column;
      text-align: center;
      margin-top: 79px;
  }
  
  .services-section2 {
    display:block;
    padding: 50px;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  
  
  .services-head {
    font-size: 11rem;
  }
  
  .gradient-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px !important;
    padding: 108px 0px;
  }
  
  
  
  .deserve-head h1 {
    font-size: 2.5rem;
    line-height: 38px;
    margin-top: 1.5rem;
  
  }
  
  .deserve-head p {
    font-size: 15px;
    padding: 10px 54px;
    margin-top: 0rem;
  }
  
  .deserve-video video {
    margin: auto;
    /* width: 100%; */
    height: auto;
  }
  
  .services-why-description {
    margin-top: 20px;
    width: 90%;
    /* background: #64270f; */
  }
  
  
  .services-why-description p {
    font-size: 15px;
    padding: 20px 26px;
  }
  
  .services-why-image{
    margin-top: 9rem;
    padding-right: 3rem;
  }
  
  .services-why-description h1 {
  
    font-size: 76px;
  
  }
  
  .services-why {
    height: auto; 
  }
  
  .service-modal-img{
    display: none;
  }
  
  .service-modal-img1{
    display: block;
    object-fit: contain;
    border-radius: 40px;
    /* background: #d8262691; */
    height: 500px;
    /* width: 100%; */
    justify-items: center;
  }
  
  .service-modal-img img{
    object-fit: contain;
    border-radius: 40px;
    background: #00000091;
    height: 500px;
    width: 100%;
  }
  
  #authOverlay{
    display: block !important;
  }
  
  #second{
    display: block;
    margin-top: 0;
    width: 100%;
    padding: 40px 50px !important;
  }
  
  .domore {
    padding-top: 13rem !important;
  }
  
  .domore .container{
    border: none;
  }
  
  .deserve {
    padding-top: 0rem !important;
  }
  
  .feature-sec{
    padding-top: 0rem !important;
  }
  
  .feature-4s {
    margin-bottom: 144px;
    padding:0px 5rem;
  
  }
  
  
  
  }
  
  
  @media (max-width: 992px) {
    .about{
      padding-top: 30rem !important;
      background-image: url('../audios/download.gif');
      background-size: fill;
      background-repeat: no-repeat;
      background-position: center;
    }
    .text-container{
      margin-top: -200px;
    }
  
    .domore {
      padding-top: 13rem !important;
      display: block; 
    }
  
    .domore-head {
      width: 100%;
      margin-top: 6rem;
  }
  
    .domore-content{
      display: block;
    }
  
    .domore-img video {
      padding-left: 0rem;
      margin-right: -3rem;
      padding-bottom: 101px;
  }
  
  
  .footer-address , .footer-sociallinks{
    margin-left: 40px;
    margin-top: 11rem;
  }
  .footer-address p , .footer-sociallinks p{
    font-size: 17px;
    text-align: left;
  }
  
  .newsletter h1{
    font-size: 24px;
    line-height: 28px;
  }
  
  .newsletter-input{
    width: auto;
    padding: 10px 15px;
    margin-right: 50px;
    font-size: 16px;
  }
  
  .footer-newsletter{
    /* margin-right: -45px;
    margin-top: 12rem;
    margin-left: 19px; */
    margin-right: -22px;
    margin-top: 12rem;
    margin-left: 19px;
  }
  
  
  
  /* .newsletter-input input{
    position: relative;
  }
  
  .newsletter-input i{
    position: absolute;
  
  } */
  
  .footer-email h4{
    font-size: 20px;
  }
  
  .footer-email h4{
    margin-top: 53px;
  }
  
  .copyright {
    flex-direction: column;
    text-align: center;
    margin-top: 79px;
  }
  
  .services-head {
    font-size: 11rem;
    bottom: 70px;
  
  }
  
  .card-after-text{
    margin: auto;
    text-align: left;
    align-items: center;
    /* border: 1px solid white; */
  }
  
  .card-after-text h1{
    font-family: "poppins",sans-serif;
    font-size: 54px;
    font-weight: 400px !important;
    padding-inline: 1rem !important;
   
  }
  
  /* .deserve-head h1 {
    font-size: 12.5rem;
    line-height: 100px;
    text-align: center;
    margin-top: 61px;
    margin-bottom: 2rem;
  }
  
  .deserve-head p {
    font-size: 3rem;
    padding: 10px 9px;
  } */
  
  .services-why-description {
    margin-top: 20px;
    width: 100%;
  }
  
  .services-why-description h1 {
    font-size: 63px;
  }
  
  .services-why-image-hide{
    display: block;
    margin-left: 11rem;
  }
  
  .services-why-image{
    display:none;
  }
  
  .gradient-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 52px;
  }
  
  .services-why {
    height: auto; 
    margin: auto;
    justify-content: center;
    /* height: 100%; */
  }
  
  .footer {
    height: auto;
    padding-bottom: 3rem;
    margin-top: 3rem;
  }
  
  
  .domore-img video{
    display: none;
  }
  
  .domore-img1 video{
    display: block;
  }
  
  .deserve-content::before {
    top: 100px; /* Border at the top */
    transform: translateX(-50%);
  }
  
  .deserve-content::after {
    bottom: 60px; /* Border at the bottom */
    transform: translateX(-50%);
  }
  
  .feature-4s {
    margin-bottom: 144px;
    padding:0px 3rem;
  
  }
  
  
  }
  
  @media (max-width: 720px){
    .second-head , .first-letter {
      font-size: 4rem !important;
  }
  
  .domore-content {
    padding-left: 29px;
  }
  
  .domore-head h1 {
    font-size: 1.5rem;
    line-height: 29px;
  }
  
  .domore-head p {
    font-size: 14px;
  }
  
  .BeforeScroll {
    font-size: 42px;
  }
  
  .footer-address, .footer-sociallinks  {
    margin-top: 16rem !important;
    margin-left: 59px !important;
  }
  .footer-newsletter{
    margin-top: 4rem !important;
    margin-left: 59px !important;
  }
  
  .copyright {
    margin-top: 109px;
  }
  
  .services-why {
    height: auto; 
    margin: auto;
    justify-content: center;
    /* height: 100%; */
  }
  
  .domore-img video{
    display: none;
  }
  
  .domore-img1 video{
    display: block;
  }
  
  .service-modal-img1{
    height: auto;
  
  }
  
  
  }
  
  
  
  @media (max-width: 540px){
    .about-head{
      font-size: 6rem;
      bottom: 41px;
      line-height: 74px;
    }
  
    .about {
      padding-top: 15rem !important;
      background-size: contain;
  }
  
  .second-head, .first-letter {
    font-size: 2rem !important;
  }
  
  .text-container {
    font-size: 15px !important;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -280px;
  }
  .domore {
    padding-top: 10rem  !important;
  }
  
  .domore-content {
    display: block;
    padding-left: 0px;
    
  }
  
  .domore .container{
    border: none !important;
  }
  
  .domore-head {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 41px;
  }
  
  .domore-head h1 {
    font-size: 1rem;
    line-height: 29px;
  }
  
  .domore-content {
    padding-top: 2rem;
  }
  
  .domore-img video{
    display: none;
  }
  
  .domore-img1 video{
    display: block;
  }
  
  .features {
    padding-top: 4.25rem  !important;
  }
  
  
  .feature-container{
    display: block !important;
  }
  
  .feature-head {
    margin-bottom: 145px;
  }
  
  .feature-head ,.sec-letter{
    font-size: 49px;
  
  }
  
  .feature-container .card {
    width: 309px;
    height: 403px;
    margin-top: 40px;
  }
  
  .creative-cards {
    padding: 88px 0;
  }
  
  .feature-container {
    margin-top: -106px;
    margin-bottom: 41px;
  }
  
  .moreabout-head, .moreabout-para {
    padding: 20px 10px;
  }
  
  .more-about {
    padding-top: 6rem !important;
  }
  
    .footer-address {
      margin-top: 8rem !important;
      margin-left: 25px !important;
  }
  
  .footer-sociallinks{
    margin-top: 2rem !important;
    margin-left: 25px !important;
  }
  
  
  .footer-newsletter {
    margin-top: 1rem !important;
    margin-left: 25px !important;
  }
  
  .footer-address p, .footer-sociallinks p {
    font-size: 15px;
    /* text-align: left; */
  }
  
  .newsletter-input{
    margin-top: 10px;
    padding: 5px 8px;
    width: 50%;;
  }
  
  .footer-email h4 {
    margin-top: 36px;
  }
  
  
  .copyright {
    margin-top: 34px;
  }
  
  .copy, .powerdby{
    font-size: 12px;
  }
  
  .newsletter-input input {
    font-size: 10px;
    padding: 5px;
  }
  
  .newsletter-input .fa {
    font-size: 17px;
  }
  
  .newsletter-input i{
    padding-top: 0px;
  }
  
  /* services page responsive */
  
  .services-head {
    font-size: 4rem;
    bottom: 70px;
    text-transform: capitalize;
  
  }
  
  .deserve {
    padding-top: 40px !important;
  }
  
  
  .deserve-head h1 {
    font-size: 2.5rem;
    line-height: 45px;
    margin-top: 0rem;
  }
  
  .deserve-head p {
    font-size: 11px;
    text-align: center;
    padding: 10px 0px;
    margin-top: 0rem;
  }
  
  .services-why {
    height: auto; 
    margin: auto;
    justify-content: center;
    /* height: 100%; */
  }
  
  .services-why-description {
    width: 100%;
    margin-top: 0px;
  }
  
  .services-why-description h1 {
    font-size: 35px;
    padding: 25px 20px;
  }
  
  .services-why-description p {
    font-size: 15px;
    padding: 30px 20px;
    text-align: left;
  }
  
  .services-why-image-hide{
    display: block;
    margin-left: 0px;
    margin-bottom: -87px;
  
  }
  
  .services-why-image{
    display:none;
  }
  
  .container-card {
    padding: 22px;
    /* height: -webkit-fill-available !important; */
  }
  
  .card-after-text h1 {
    font-size: 46px;
  }
  
  .services-section2{
    margin-bottom: 0px;
    margin-top: 1rem;
    padding: 20px;
  }
  
  .services-why-section{
    padding-top: 0px !important;
    margin-top: 0px;
  }
  
  .service-modal-head h1 {
    font-size: 40px;
  }
  
  .service-modal-para p {
    font-size: 15px;
  }
  
  #second {
    padding: 0px 0px !important;
    align-content: left;
    padding-right: 50px !important;
  }
  
  .back-btn button {
    margin-top: 10rem;
    margin-bottom: 2rem;
  }
  
  .feature-4s p {
    color: #bcc5c5;
    font-size: 13px;
    /* padding: 0px 20rem; */
  }
  
  .feature-4s {
    margin-top: -8rem;
    margin-bottom: 144px;
    padding: 0px 30px;
  
  }
  
  .four-s {
    font-family: "headingfont" !important;
    font-size: 32px;
    color: #afd766;
  }
  
  .four-span {
    font-size: 32px;
    /* color: #4fc8edb9; */
    font-weight: bolder;
    font-family: "headingfont";
  }
  
  .top-head-services{
    background-size: contain;
  }
  
  
  }
  
  @media (max-width: 400px){
    .deserve-content::before,
  .deserve-content::after {
    background-color: none;
  }
  
  .deserve-content::before {
    top: 0; /* Border at the top */
    transform: translateX(-50%);
  }
  
  .deserve-content::after {
    bottom: 0; /* Border at the bottom */
    transform: translateX(-50%);
  }
  
  .deserve-content:hover::before,
  .deserve-content:hover::after {
    width: 100%; /* Expands to full width */
  }
  }
  
  
  
  
  
  .about-span{
    transition: color 0.5s ease;
  }
  
  
  
  .weare-also{
    font-family: 'poppins',sans-serif !important;
    font-weight: 800;
    text-transform: capitalize;
  }
  
  
  
  
  
  
  
  
  
  
  
  